/* Responsive Fonts */
html { 
  font-size: 100%;
}
body { 
  font-size: 1.2em;
}
@media (max-width: 320px) {
  html { 
    font-size: 70%; 
  }
}

/* Responsive Background Image */
html { 
  background-color: black;
  background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

/* Responsive Header */
.header {
  background: url(../images/banner-text-logo.png) no-repeat top center;
  height: 150px;
}
@media (max-width: 320px) {
  .header {
    height: 80px;
    background-size: 100%;
  }
}

/* Center ImageMapster and Slick Carousel */
#mapster_wrap_0, .slick-slider {
  margin: 0 auto; 
}

/* Carousel */
.thumb {
  position: relative;
  margin: 5%;
  padding: 5%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: grey;
}
.thumb img {
  width: 100%;
}
.thumb .climblevel {
  position: absolute;
  left: 10%;
  bottom: 20%;
}
.thumb .climbname {
}