html { font-size: 62.5%; }
body { font-size: 1.2em;}

@media (max-width: 320px) {
    html { font-size: 70%; }
}

@media (min-width: 560px) {
    html { font-size: 80%; }
}

@media (min-width: 720px) {
    html { font-size: 100%; }
}

.content {
  padding: 0px;
  background: #404040;
  margin-left: auto;
  margin-right: auto;
}


/* Image Map */
#map {

}


/* Carousel */

.thumb {
  position: relative;
  margin: 10%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.thumb img {
  width: 100%;
}

.thumb .climblevel {
  position: absolute;
  left: 0px;
  bottom: 20%;
}

.thumb .climbname {
}