/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Modified (minimally): Arvind Thyagarajan
*/
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a,
a img {
  border: none;
  outline: none;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
input,
textarea {
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base CSS */
/* Author: Arvind */
/* License: FoSho */

/* INTELLIGENT BOX MODEL PLEASE! */
/* include padding in container sizing 
================================================== */
* {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	/* cancel text selection */
	-webkit-user-select: none;
}
/* but keep text selection for inputs and paragraphs */
INPUT, TEXTAREA, P, .selectable { 
	-webkit-user-select: auto; 
	font-family: "Helvetica Neue", Helvetica-Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
}
INPUT:focus, TEXTAREA:focus { outline: none; }

html {
	width: 100%; height: 100%;
	font-size: 62.5%; 
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; 
}
body {
	width: 100%; height: auto; min-height: 100%;
	background: rgb(250,249,248);
	font-family: "Helvetica Neue", Helvetica-Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	/* some font geek love */
	-webkit-font-smoothing: antialiased;
}

.stopanim,
.stopanim * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
}
.animself,
.anim,
.anim * {
  -webkit-transition: all 0.25s ease-in !important;
  -moz-transition: all 0.25s ease-in !important;
  -ms-transition: all 0.25s ease-in !important;
  -o-transition: all 0.25s ease-in !important;
}

a { text-decoration: none; cursor: pointer; }

/* 
   What: A New Micro Clearfix Hack
   License: none (public domain)
   http://nicolasgallagher.com/micro-clearfix-hack/
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* positioning stuffs 
================================================== */

.hidden { display: none; }
.toggleshow { display: none !important; }

.floatleft { float: left !important; }
.floatright { float: right !important; }
.block { display: block !important; }
.inlineblock { display: inline-block !important; vertical-align: top !important; }
.tablecell { display: table-cell !important; }
.fixed { position: fixed !important; }
.absolute { position: absolute !important; }
.relative { position: relative !important; }

.w100 { width: 100% !important; }
.h100 { height: 100% !important; }

.nospace { margin: 0 !important; }
.noborder { border: 0 !important; }

.fullmaskback {
	display: block; position: fixed; z-index: -1; width: 100%; height: 100%; top: 0; bottom: 0; left: 0; right: 0;
}

/* padding and gutters */
.nopad { padding: 0 !important; }
.pad-5 { padding: .5rem; }
.pad-0-5 { padding: 0 .5rem; }
.pad-5-0 { padding: .5rem 0; }
.pad-10 { padding: 1rem; }
.pad-0-10 { padding: 0 1rem; }
.pad-10-0 { padding: 1rem 0; }
.pad-15 { padding: 1.5rem; }
.pad-0-15 { padding: 0 1.5rem; }
.pad-15-0 { padding: 1.5rem 0; }
.pad20 { padding: 2rem; }
.pad-0-20 { padding: 0 2rem; }
.pad-20-0 { padding: 2rem 0; }
.pad30 { padding: 3rem; }
.pad-0-30 { padding: 0 3rem; }
.pad-30-0 { padding: 3rem 0; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }


/* colours 
================================================== */
.white { color: rgb(255,255,255); }
.black { color: rgb(0,0,0); }

.muted75 { opacity: 0.75 }
.muted50 { opacity: 0.5 }
.muted35 { opacity: 0.35 }
.muted25 { opacity: 0.25 }

/* fonts 
================================================== */

	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 600;
	  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.ttf) format('truetype');
	}

	@font-face {
	  font-family: 'OpenSans';
	  font-style: bold;
	  font-weight: 800;
	  src: local('OpenSans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('truetype');
	}

	@font-face {
	  font-family: 'OpenSans';
	  font-style: bold;
	  font-weight: 600;
	  src: local('OpenSans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.ttf) format('truetype');
	}

	@font-face {
	  font-family: 'OpenSans';
	  font-style: regular;
	  font-weight: 400;
	  src: local('OpenSans Regular'), local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
	}

	@font-face {
	  font-family: 'OpenSans';
	  font-style: light;
	  font-weight: 200;
	  src: local('OpenSans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.ttf) format('truetype');
	}
	

/* modular typography
================================================== */

h1 			{ font-size: 8.38rem; }
h2 			{ font-size: 6.78rem; }
h3 			{ font-size: 5.18rem; }
h4 			{ font-size: 4.2rem; }
h5 			{ font-size: 3.2rem; }
h6 			{ font-size: 2.59rem; }
h7 			{ font-size: 1.98rem; }
p  			{ font-size: 1.6rem; }
label,
.subtitle 	{ font-size: 1.22rem; }
small,
.small 		{ font-size: 0.99rem; }
.tiny 		{ font-size: 0.76rem; }

.hairline	{ font-weight: 100; }
.light		{ font-weight: 200; }
.semibold	{ font-weight: 600; }
.bold		{ font-weight: 800; }

.textshadow	{ text-shadow: 0 1px 4px rgba(0,0,0,0.75); }


/* custom media queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile Portrait Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	}


/* CUSTOM ICON SET
/* get these and more from the awesome Icon Moon App
/* name the download "monkeycons"
================================================== */

@font-face {
	font-family: 'monkeycons';
	src:url('../fonts/monkeycons.eot');
	src:url('../fonts/monkeycons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/monkeycons.woff') format('woff'),
		url('../fonts/monkeycons.ttf') format('truetype'),
		url('../fonts/monkeycons.svg#woocons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'monkeycons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* some examples */

.icon-profile:before {
	content: "\e600";
}
.icon-ying-yang:before {
	content: "\e607";
}
.icon-bike:before {
	content: "\e608";
}
.icon-switch:before {
	content: "\e609";
}
.icon-email:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e603";
}
.icon-arrow-down:before {
	content: "\e604";
}
.icon-health:before {
	content: "\e60a";
}
.icon-graph:before {
	content: "\e60b";
}
.icon-earth:before {
	content: "\e602";
}
.icon-key:before {
	content: "\e606";
}
.icon-file-css:before {
	content: "\e60c";
}
.icon-heart:before {
	content: "\e60d";
}
.icon-cross:before {
	content: "\e605";
}
.icon-clock:before {
	content: "\e60e";
}

/*
* Monkeygrid is the best lightweight grid system in the universe
* MONKEY GRID IS % BASED
* and uses rem for sizes
* Author: Arvind Thyagarajan
* Copyright: 2014
*/

/* Use the class "testgrid" on BODY to visualize the grid */
.testgrid .column,
.testgrid .columns 								{ min-height: 3rem; box-shadow: inset 0 0 0 1px rgba(220,110,100,.5); }
.testgrid .wrapper::before						{ content: ""; display: block; position: absolute; z-index: -1; width: 100%; height: 100%;
												  background: transparent url(../images/grid.png); background-size: 100% 1px; }

/* #Base Grid
================================================== */

    .container                                  { position: relative; width: 100%; margin: 0; padding: 0; }
	.container.centered							{ max-width: 96rem; margin: 0 auto; }
    .container .column,
    .container .columns                         { display: block; position: relative; float: left; }
    
	.row                                        { position: relative; width: 100%; }
	.row:before,
	.row:after 									{ content: " "; display: table; }
	.row:after 									{ clear: both; }
	
    /* Base Grid */
	.container .column,
    .container .one.column,
    .container .one.columns                     { width: 6.25%; }
    .container .two.columns                     { width: 12.5%; }
    .container .three.columns                   { width: 18.75%; }
    .container .four.columns                    { width: 25%; }
    .container .five.columns                    { width: 31.25%; }
    .container .six.columns                     { width: 37.5%; }
    .container .seven.columns                   { width: 43.75%; }
    .container .eight.columns                   { width: 50%; }
    .container .nine.columns                    { width: 56.25%; }
    .container .ten.columns                     { width: 62.5%; }
    .container .eleven.columns                  { width: 68.75%; }
    .container .twelve.columns                  { width: 75%; }
    .container .thirteen.columns                { width: 81.25%; }
    .container .fourteen.columns                { width: 87.5%; }
    .container .fifteen.columns                 { width: 93.75%; }
    .container .sixteen.columns                 { width: 100%; }

    .container .one-third.column                { width: 33.33%; }
    .container .two-thirds.column               { width: 66.66%; }
    .container .one-fifth.column                { width: 20%; }

	.container .column.large					{ width: 61%; }
	.container .column.small					{ width: 39%; }
	
	/* Approximation of Golden Ratios */
	.row.goldenbox									{  }
	
	.container .goldenbox > .column.large			{ width: 61%; }
	.container .goldenbox > .column.small			{ width: 39%; }
	.container .goldenbox.vertical > .column.large	{ width: 100%; height: 61%; }
	.container .goldenbox.vertical > .column.small	{ width: 100%; height: 39%; }
	
	.container .row.goldenbox > .column,
	.container .row.goldenbox > .column > .row.goldenbox { height: 100%; }
	

/* #Tablet
================================================== */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
		.container .column,
		.container .one.column,
		.container .one.columns,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns                   { width: 50%; }
		
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns                 { width: 100%; }

		.container .one-third.column,
		.container .one-fifth.column                { width: 50%; }
		.container .two-thirds.column               { width: 100%; }
    }


/*  #AllMobile

* The simplifying premise of monkeygrid is that
* you will never need anything but a single column
* in mobile phone factors. Cool?
================================================== */

    @media only screen and (max-width: 767px) {
		.container .column,
		.container .one.column,
		.container .one.columns,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns                   { width: 50%; }
		
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns                 { width: 100%; }

		.container .one-third.column,
		.container .one-fifth.column                { width: 50%; }
		.container .two-thirds.column               { width: 100%; }
    }


/* #Mobile (Landscape)
================================================== */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
		.container .column,
		.container .one.column,
		.container .one.columns,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns,
		.container .one-third.column,
		.container .one-fifth.column,
		.container .two-thirds.column               { width: 100%; }

		.container .column.large					{ width: 100%; }
		.container .column.small					{ width: 100%; }

		/* Golden Ratios */
		.row.goldenbox									{ height: auto !important; }
		
		.container .goldenbox > .column.large			{ width: 100% !important; }
		.container .goldenbox > .column.small			{ width: 100% !important; }
		.container .goldenbox.vertical > .column.large	{ width: 100%; height: auto !important; }
		.container .goldenbox.vertical > .column.small	{ width: 100%; height: auto !important; }
		
		.container .row.goldenbox > .column,
		.container .row.goldenbox > .column > .row.goldenbox { height: auto; }
    }

/* #Mobile (Portrait)
================================================== */
	@media only screen and (max-width: 479px) {
		.container .column,
		.container .one.column,
		.container .one.columns,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns,
		.container .one-third.column,
		.container .one-fifth.column,
		.container .two-thirds.column               { width: 100%; }

		.container .column.large					{ width: 100%; }
		.container .column.small					{ width: 100%; }
		
		/* Golden Ratios */
		.row.goldenbox									{ height: auto !important; }
		
		.container .goldenbox > .column.large			{ width: 100% !important; }
		.container .goldenbox > .column.small			{ width: 100% !important; }
		.container .goldenbox.vertical > .column.large	{ width: 100%; height: auto !important; }
		.container .goldenbox.vertical > .column.small	{ width: 100%; height: auto !important; }
		
		.container .row.goldenbox > .column,
		.container .row.goldenbox > .column > .row.goldenbox { height: auto; }
	}

/* Site CSS */
/* Author: Arvind */
/* License: FoSho */

/*
main top containers
================================================== */

body {
	height: 100%; overflow: hidden;
	background: rgb(34,32,30) url(../images/texture.png);
	background-size: 300px 300px;
	font-family: "Open Sans", OpenSans, sans-serif !important;
}

.fullmaskback { 
	background-image: url(../images/valley.jpg); 
	background-size: cover; 
	background-position: 80% 0; 
	opacity: 0.15; 
}

.content { overflow: hidden; z-index: 1; }

.banner { line-height: 3rem; }
	.banner p { line-height: 1rem; }

.logo { 
	right: 0;
	width: 105px; height: 100px;
	background: transparent url(../images/logo-small.png) no-repeat 20px 20px; 
	background-size: 70px auto;
	opacity: 0.5;
	cursor: pointer;
}
	.logo:hover { opacity: 1; }
	.logo h1 { display: none; }



/* 
MAP and all it's responsive 
adjustments so it always fits beautifully
=========================================== */
.map {
	position: relative; left: 0; right: 0; top: 0; bottom: 0;
	margin: 0 auto; margin-top: -40px; width: 75%;
	min-width: 320px; max-width: 780px;
}
	/* Desktop Landscape Size ULTRA Wide (screens and browsers) */
	@media only screen and (min-width: 1440px) {
		.map {
			margin: 0 auto; margin-top: -85px; width: 60%;
			max-width: 1020px;
		}
	}
	/* Desktop Landscape Size Wide (screens and browsers) */
	@media only screen and (min-width: 1020px) and (max-width: 1439px) {
		.map {
			margin: 0 auto; margin-top: -80px; width: 85%;
			max-width: 780px;
		}
	}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.map {
			margin: 0 auto; margin-top: -20px; width: 100%;
			min-width: 480px; max-width: 720px;
		}
	}
	/* Mobile Portrait Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.map {
			margin: 0; width: 100%; margin-top: 20px;
		}
	}

	.map .targetmarker {
		position: absolute; width: 34px; height: 34px;
		border: 1px solid transparent;
		border-radius: 17px; -moz-border-radius: 17px;
		cursor: pointer;
		z-index: 8;
	}
		.map .targetmarker:after {
			content: " ";
			position: absolute; width: 8px; height: 8px; top: 11px; left: 11px;
			border: 1px solid rgba(0,0,0,0.75);
			border-radius: 5px; -moz-border-radius: 5px;
			background-color: rgb(255,255,255);
		}
		.map .targetmarker:hover {
			background-color: rgba(0,0,0,0.2); border: 1px solid rgba(255,255,255,0.25);
			z-index: 9;
		}

	.map .marker {
		display: none; 
		position: absolute; width: 34px; height: 34px;
		background: transparent url(../images/marker.png) no-repeat; background-size: 34px 34px;
		overflow: visible;
		cursor: pointer;
		z-index: 10;
	}
		.map .marker label {
			display: block; position: absolute; left: 34px; top: 0; height: 34px; padding: 0 5px;
			white-space: nowrap; overflow: visible;
			background-color: rgba(6,3,2,0.25); border-radius: 3px; -moz-border-radius: 3px;
			font-size: 1.5rem; line-height: 3.4rem;
			font-weight: 800; color: rgba(255,255,255,1);
			text-shadow: 0 0 0 transparent, 0 1px 4px rgba(0,0,0,0.75);
		}


/* 
bottom THUMBS
full width, fixed to bottom, horizontal scroll
================================================ */

.thumbs { 
	bottom: 0; height: 180px; 
	background-color: rgba(0,0,0,0.1);
	overflow: hidden;
	overflow-x: auto;
	z-index: 2;
}
	.thumbs:hover {
		background-color: rgba(0,0,0,0.25);
	}
	
	.thumbs > .row,
	.thumbs > .row > .columns { height: 100%; }
	
	.thumbcontainer { height: 100%; }
	.thumbcontainer table { table-layout: fixed; height: 100%; border-spacing: 0.5rem; border-collapse: separate; }
		.thumbcontainer table col { width: 140px; }
			.thumbcontainer td { overflow: hidden; }
	
	.thumbcontainer .thumb {
		padding: 10px;
		height: 100%; min-width: 140px;
		border-radius: 3px; -moz-border-radius: 3px;
		background-color: rgba(255,255,255,0.1);
		border: 1px solid rgba(255,255,255,0.1);
		opacity: 0.75;
		cursor: pointer;
		-webkit-backface-visibility: hidden; 
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
	}
		.thumbcontainer .thumbhover { 
			background-color: rgba(255,255,255,0.2);
			opacity: 1; 
		}
		
			.thumbcontainer .thumb > .container { height: 100%; }
			
			.thumbcontainer .thumb label { 
				padding: 4px 0 10px 0; max-width: 120px; 
				font-size: 1.2rem; color: rgb(255,255,255);
				overflow: hidden; white-space: nowrap; text-overflow: ellipsis; 
			}
			.thumbcontainer .thumb .image {
				position: absolute; top: 30px; bottom: 0px; left: 0px; right: 0px; margin: 0;
				overflow: hidden;
			}
				.thumbcontainer .thumb img { 
					width: 100%; height: 100%; 
					border-radius: 2px; -moz-border-radius: 2px;
				}
				.thumbcontainer .thumb span { 
					top: 0px; height: 100%; max-height: 30px;
					background-color: rgba(250,250,250,0.65); 
					text-transform: uppercase; font-weight: 800; color: rgba(6,3,2,1); font-size: 1.8rem;
					text-shadow: 0 0 0 transparent, 0 1px 1px rgb(255,255,255);
				}

			.thumbcontainer .thumb .playbtn {
				position: absolute; display: none;
				width: 100%; height: 100%; 
				top: 0px; left: 0px;
				background: transparent url(../images/play_button.png) center center no-repeat;
				z-index: 2;
			}
			
/* 
Video Iframe 
=========================================== */

.videowrap {
	display: none;
	position: fixed;
	height: auto; max-height: 540px;
	bottom: 180px;
	border-top: 40px solid rgba(0,0,0,0.5);
	border-bottom: 20px solid rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.9);
	z-index: 21;
	overflow: visible;
}
	.videowrap iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.videowrap .title {
		position: absolute; top: -40px; left: 20px;
		width: 100%; height: 40px; padding-right: 100px;
		line-height: 4rem;
		font-size: 2rem; color: rgb(255,255,255); font-weight: 800;
		z-index: 2;
	}
		
	.videowrap .close {
		position: absolute; top: -40px; right: 20px;
		width: 40px; height: 40px;
		text-align: center; line-height: 4rem;
		font-size: 3rem; color: rgb(255,255,255); font-weight: 400;
		z-index: 2;
	}